body, span, div, p, a, li, td, tr, input, button {
    font-family: "Arial", sans-serif !important;
}

body, html {
    height: 100%;
    box-sizing: border-box;
}

.card-header {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.f-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.f-item {
}


.main-content {
    width: 100%;
}


/*CARDS====================================*/
.card{
    box-shadow: 0 1px 10px 0 #CCCCCC;
    border: none;
}

.card-header{
    border-bottom: none;
    background-color: #F5F5F7;
}



.table-striped tbody tr:nth-of-type(odd) {
   background-color: #F5F5F7;
}


/*SIDEBAR=================================*/

.sidebar {
    flex: 0 0 250px;
    background-color: #F5F5F7;
    height: 100%;
    /*border-right: solid 1px #b2bec3;*/
}

.sidebar-logo{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-section{
    margin-bottom: 20px;
}

.sidebar-section-header{
    color: #A0A3AA;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-section-body .list-group-item{
    padding: 0.35rem;
    background-color: #636e72;
    color: white;
}

.sidebar-section-body .list-group-item:hover{
    background-color: tomato;
}

.sidebar a{
    color: #323232;
    font-weight: bold;
}

.sidebar a:hover{
    text-decoration: none;
    color: #158CBA;
}


.links-list a{
    display: block;
    margin: 5px 0;
}

.links-list a i{
    margin-right: 12px;
}

#top-nav{

}